--extra-index-url https://download.pytorch.org/whl/cpu
torch

fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv

langgraph
langchain-core
langchain-text-splitters
langchain-xai
langchain-ollama

sentence-transformers
faiss-cpu
rank-bm25
numpy

sqlalchemy
pypdf
python-docx

reflex
httpx
langsmith

pytest
ipykernel